<div class="blog-wrapper">
  <% @posts.each do |post| %>
  <div class="container shadow blog-container">
    <h1 class="text-center"><%= link_to post.title, post, class:'blog-title' %></h1>
    <h6 class="text-center">Posted by @author <%= post.created_at.strftime("at %I:%M %p on %b %e, %Y") %>
    </h6>
  </div>
  <% end %>
</div>