// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-wrapper {
	background-image: linear-gradient(#eee, #fff);
	padding-top:6em;
	padding-bottom:2em;

	.blog-container {
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: #fff;

		.blog-title {
			text-decoration: none;
			font-weight: 550;
			font-variant: small-caps;
			color: #111111;
		}
		.blog-title:hover {
			font-size: .9em;
		}
	}

	.blog-body {
		padding: 0em 1em 1em 1em;
	}
}