// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-wrapper {
	background-image: linear-gradient(#eee, #fff);
	padding-top:8em;
	padding-bottom:2em;

	.blog-container {
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: #fff;

		.blog-title {
			text-decoration: none;
			font-weight: 550;
			font-variant: small-caps;
			color: #111111;
		}
		.blog-title:hover {
			font-size: .9em;
		}
		.blog-subtitle {
			color: #666;
		}
		.blog-subtitle-bar {
			width: 25%;
			margin-right:75%;
		}
	}
	.blog-body {
		padding: 0em 1em 1em 1em;
	}
	.blog-button {
		padding-top: 4px;
	}
}

.search-container {
	margin-top: 4em;
	display:inline-block;
}